<div class="chat-panel">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Prompt your pdf
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="chat-messages">
        <div *ngFor="let message of messages" class="message">
          <div class="message-sender">
            <div style="display:flex">
              <div>
                <button [class]=" message.sender == 'Admin' ? 'img-bot' : 'img-user'" disabled></button>
              </div>
              <div class="msg-content">{{ message.content }}</div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


  <div>
    <div style="display:list-item">
      <div style="background-color: azure; border: 0;width: 80%;">
        <span><button (click)="sendMessage(1)" class="btn-send" [disabled]="waiting"></button></span>
        <span><button (click)="sendMessage(2)" class="btn-send-2" [disabled]="waiting"></button></span>
        <span><button (click)="clearChat()" class="btn-trash"></button></span>
      </div>
      <div>
        <textarea class="usr-prompt" matInput autocomplete="off" rows="5" [(ngModel)]="newMessage" (keyup.enter)="sendMessage(1)">
              {{placeHolderText}}</textarea>
      </div>
    </div>   
  </div>
